/* tailwind import */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 5px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1c86f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* button styles */
button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  border-radius: 12px;
  background-color: rgb(223, 129, 187);
  width: 120px;
}

.bottomButton {
  justify-content: center;
}

/* youtube position on page */
.Video-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.card {
  display: contents;
}

/* form styles */
form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

input,
textarea {
  padding: 1% 1%;
  margin-bottom: 1%;
  border-radius: 8px;
  outline: none;
}

.longButton {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: rgb(187, 45, 133);
}

img {
  display: flex;
  width: 80%;
  height: auto;
  margin: auto;
}

nav,
h1,
h2,
h3,
h4,
a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
  max-width: 75%;
  margin: 5% auto;
  line-height: 2;
}

a {
  color: brown;
  text-decoration: none;
}

section {
  display: flex;
  justify-content: space-around;
}

h1 {
  flex-direction: column;
  align-content: center;
}

#map {
  height: 75vh;
  margin: 2px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 0 auto;
}

.leaflet-popup-tip {
  width: 0 !important;
  height: 0 !important;
}


.IndicatorsContainer {
  width: 0 !important;
  height: 0 !important;
}

.css-1hb7zxy-IndicatorsContainer {
  display: none !important;

}