body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1c86f
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  border-radius: 12px;
  background-color: rgb(223, 129, 187);
  width: 25%;

}

.bottomButton {
  justify-content: center;
}

form {

  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

input,
textarea {

  padding: 1% 1%;
  margin-bottom: 1%;
  border-radius: 8px;
  outline: none;
}

.longButton {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: rgb(187, 45, 133);
}

img {
  display: flex;
  width: 80%;
  height: auto;
  margin: auto
}

nav,
h1,
h2,
h3,
h4,
a {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Papyrus", fantasy;
  font-weight: 900;
  text-align: center
}

p {
  text-align: center;
  max-width: 75%;
  margin: 5% auto;
  font-family: "Papyrus", fantasy;
  line-height: 2;
  font-weight: bold;
}

a {
  color: brown;
  text-decoration: none;

}

section {

  display: flex;
  justify-content: space-around;
}

h1 {

  flex-direction: column;
  align-content: center;
}